In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'numpy'

In [2]:
!pip install numpy

Collecting numpy
  Downloading numpy-2.2.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Downloading numpy-2.2.3-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.6 MB 2.5 MB/s eta 0:00:05
   ---- ----------------------------------- 1.6/12.6 MB 4.2 MB/s eta 0:00:03
   -------- ------------------------------- 2.6/12.6 MB 4.4 MB/s eta 0:00:03
   ----------- ---------------------------- 3.7/12.6 MB 4.8 MB/s eta 0:00:02
   -------------- ------------------------- 4.7/12.6 MB 4.9 MB/s eta 0:00:02
   ------------------- -------------------- 6.0/12.6 MB 5.0 MB/s eta 0:00:02
   ---------------------- ----------------- 7.1/12.6 MB 5.1 MB/s eta 0:00:02
   ------------------------- -------------- 8.1/12.6 MB 5.2 MB/s eta 0:00:01
   ----------------------------- ---------- 9.4/12.6 MB 5.2 MB/s eta 0:00:01
   --------------------------------- ------ 10.5/12.6 MB 5.3 MB/s eta 0:00:01
   ------------------------------------ --- 11.5/12.6 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 5.2 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-2.2.3

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in d:\fyp\price sentiment\venv\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\fyp\price sentiment\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\fyp\price sentiment\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   --- ------------------------------------ 1.0/11.5 MB 3.3 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.5 MB 3.6 MB/s eta 0:00:03
   -------- ------------------------------- 2.4/11.5 MB 3.2 MB/s eta 0:00:03
   ---------- ----------------------------- 3.1/11.5 MB 3.2 MB/s eta 0:00:03
   ------------ --------------------------- 3.7/11.5 MB 3.3 MB/s eta 0:00:03
   --------------- ------------------------ 4.5/11.5 MB 3.2 MB/s eta 0:00:03
   ----------------- ---------------------- 5.0/11.5 MB 3.3 MB/s eta 0:00:02
   ------------------- -------------------- 5.5/11.5 MB 3.2 MB/s eta 0:00:02
   --------------------- ------------------ 6.3/11.5 MB 3.2 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.5 MB 3.2 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.5 MB 3.2 MB/s eta 0:00:02
   ---------------------------- ----------- 8.1/11.5 MB 3.2 MB/s eta 0:00:02
   ------------------------------- -------- 8.9/11.5 MB 3.2 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 3.2 MB/s eta 0:00:01
   ---------------------------------- ----- 10.0/11.5 MB 3.2 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 3.1 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.1 tzdata-2025.1

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
!pip install matplotlib.pyplot

ERROR: Could not find a version that satisfies the requirement matplotlib.pyplot (from versions: none)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for matplotlib.pyplot

In [5]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.10.1-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.56.0-cp313-cp313-win_amd64.whl.metadata (103 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp313-cp313-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in d:\fyp\price sentiment\venv\lib\site-packages (from matplotlib) (2.2.3)
Requirement already satisfied: packaging>=20.0 in d:\fyp\price sentiment\venv\lib\site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.1.0-cp313-cp313-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in d:\fyp\price sentiment\venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in d:\fyp\price sentiment\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.1-cp313-cp313-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.1 MB ? eta -:--:--
   --- ------------------------------------ 0.8/8.1 MB 1.7 MB/s eta 0:00:05
   ----- ---------------------------------- 1.0/8.1 MB 1.9 MB/s eta 0:00:04
   ------ --------------------------------- 1.3/8.1 MB 1.7 MB/s eta 0:00:04
   --------- ------------------------------ 1.8/8.1 MB 1.8 MB/s eta 0:00:04
   ------------- -------------------------- 2.6/8.1 MB 2.1 MB/s eta 0:00:03
   ---------------- ----------------------- 3.4/8.1 MB 2.3 MB/s eta 0:00:03
   ------------------- -------------------- 3.9/8.1 MB 2.5 MB/s eta 0:00:02
   ----------------------- ---------------- 4.7/8.1 MB 2.5 MB/s eta 0:00:02
   ------------------------ --------------- 5.0/8.1 MB 2.4 MB/s eta 0:00:02
   -------------------------- ------------- 5.2/8.1 MB 2.4 MB/s eta 0:00:02
   ----------------------------- ---------- 6.0/8.1 MB 2.4 MB/s eta 0:00:01
   -------------------------------- ------- 6.6/8.1 MB 2.5 MB/s eta 0:00:01
   ----------------------------------- ---- 7.1/8.1 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 2.6 MB/s eta 0:00:00
Downloading contourpy-1.3.1-cp313-cp313-win_amd64.whl (220 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.56.0-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.2 MB ? eta -:--:--
   ------------------- -------------------- 1.0/2.2 MB 4.4 MB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.2 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 3.7 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp313-cp313-win_amd64.whl (71 kB)
Downloading pillow-11.1.0-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ------- -------------------------------- 0.5/2.6 MB 5.8 MB/s eta 0:00:01
   ------------------- -------------------- 1.3/2.6 MB 4.7 MB/s eta 0:00:01
   ----------------------- ---------------- 1.6/2.6 MB 3.3 MB/s eta 0:00:01
   --------------------------- ------------ 1.8/2.6 MB 2.9 MB/s eta 0:00:01
   ------------------------------- -------- 2.1/2.6 MB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 2.4/2.6 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 2.0 MB/s eta 0:00:00
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.56.0 kiwisolver-1.4.8 matplotlib-3.10.1 pillow-11.1.0 pyparsing-3.2.1

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv('../artifacts/lat_log_cuision.csv')

In [8]:
data

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [9]:
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [10]:
data.tail()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [11]:
data.shape

(9551, 21)

In [13]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9546    False
9547    False
9548    False
9549    False
9550    False
Length: 9551, dtype: bool

In [14]:
data.duplicated().sum()

np.int64(0)

In [15]:
data.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

preprocessing

In [16]:
import re
import string

In [17]:
data["Average Cost for two"].head(5)

0    1100
1    1200
2    4000
3    1500
4    1500
Name: Average Cost for two, dtype: int64

In [18]:
df.head()

NameError: name 'df' is not defined

In [19]:
data.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [20]:
print("Missing Values Before Handling:\n", data.isnull().sum())

Missing Values Before Handling:
 Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [21]:
data.dropna(subset=["Average Cost for two", "Currency"], inplace=True)

In [22]:
data["Average Cost for two"] = pd.to_numeric(data["Average Cost for two"], errors="coerce")

In [23]:
data.dropna(subset=["Average Cost for two"], inplace=True)

In [24]:
print("Missing Values After Handling:\n", data.isnull().sum())

Missing Values After Handling:
 Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [25]:
import requests

In [26]:
def get_exchange_rates():
    url = "https://v6.exchangerate-api.com/v6/ef480af61c330493a658eebe/latest/USD" 
    response = requests.get(url).json()
    return response["conversion_rates"]

In [27]:
exchange_rates = get_exchange_rates()
print("Exchange Rates:", exchange_rates)

Exchange Rates: {'USD': 1, 'AED': 3.6725, 'AFN': 73.5799, 'ALL': 94.4753, 'AMD': 394.2724, 'ANG': 1.79, 'AOA': 918.0637, 'ARS': 1064.38, 'AUD': 1.609, 'AWG': 1.79, 'AZN': 1.7014, 'BAM': 1.8832, 'BBD': 2.0, 'BDT': 121.5395, 'BGN': 1.883, 'BHD': 0.376, 'BIF': 2966.5242, 'BMD': 1.0, 'BND': 1.3494, 'BOB': 6.9312, 'BRL': 5.836, 'BSD': 1.0, 'BTN': 87.4516, 'BWP': 13.8658, 'BYN': 3.2625, 'BZD': 2.0, 'CAD': 1.4443, 'CDF': 2853.1482, 'CHF': 0.9023, 'CLP': 951.3845, 'CNY': 7.2899, 'COP': 4126.9965, 'CRC': 506.55, 'CUP': 24.0, 'CVE': 106.1698, 'CZK': 24.0864, 'DJF': 177.721, 'DKK': 7.1816, 'DOP': 62.4189, 'DZD': 134.7789, 'EGP': 50.6538, 'ERN': 15.0, 'ETB': 126.9092, 'EUR': 0.9629, 'FJD': 2.2976, 'FKP': 0.794, 'FOK': 7.1816, 'GBP': 0.794, 'GEL': 2.793, 'GGP': 0.794, 'GHS': 15.5667, 'GIP': 0.794, 'GMD': 72.614, 'GNF': 8648.5902, 'GTQ': 7.7229, 'GYD': 209.5493, 'HKD': 7.7783, 'HNL': 25.6122, 'HRK': 7.2547, 'HTG': 131.052, 'HUF': 386.0847, 'IDR': 16571.5137, 'ILS': 3.5944, 'IMP': 0.794, 'INR': 87.4519, 'IQD': 1312.3209, 'IRR': 42000.3583, 'ISK': 139.8818, 'JEP': 0.794, 'JMD': 157.8702, 'JOD': 0.709, 'JPY': 150.5095, 'KES': 129.1522, 'KGS': 87.4089, 'KHR': 4014.9987, 'KID': 1.609, 'KMF': 473.6963, 'KRW': 1458.7273, 'KWD': 0.3088, 'KYD': 0.8333, 'KZT': 498.7853, 'LAK': 21728.1308, 'LBP': 89500.0, 'LKR': 294.9457, 'LRD': 199.4794, 'LSL': 18.5886, 'LYD': 4.8894, 'MAD': 9.9492, 'MDL': 18.6843, 'MGA': 4709.6035, 'MKD': 59.1335, 'MMK': 2102.568, 'MNT': 3479.5268, 'MOP': 8.0116, 'MRU': 39.8746, 'MUR': 46.5983, 'MVR': 15.4756, 'MWK': 1747.3379, 'MXN': 20.5052, 'MYR': 4.459, 'MZN': 63.9335, 'NAD': 18.5886, 'NGN': 1499.627, 'NIO': 36.8499, 'NOK': 11.2591, 'NPR': 139.9226, 'NZD': 1.7876, 'OMR': 0.3845, 'PAB': 1.0, 'PEN': 3.6864, 'PGK': 4.0378, 'PHP': 57.9821, 'PKR': 279.9691, 'PLN': 4.0079, 'PYG': 7925.9691, 'QAR': 3.64, 'RON': 4.7816, 'RSD': 112.4917, 'RUB': 88.2992, 'RWF': 1429.4159, 'SAR': 3.75, 'SBD': 8.662, 'SCR': 14.4122, 'SDG': 574.8872, 'SEK': 10.7529, 'SGD': 1.3494, 'SHP': 0.794, 'SLE': 22.8914, 'SLL': 22891.3697, 'SOS': 572.3556, 'SRD': 35.6103, 'SSP': 4410.4338, 'STN': 23.5901, 'SYP': 13007.6628, 'SZL': 18.5886, 'THB': 34.184, 'TJS': 10.9163, 'TMT': 3.5005, 'TND': 3.1691, 'TOP': 2.3907, 'TRY': 36.5357, 'TTD': 6.7648, 'TVD': 1.609, 'TWD': 32.8922, 'TZS': 2597.4889, 'UAH': 41.4213, 'UGX': 3677.6349, 'UYU': 42.8375, 'UZS': 12889.4005, 'VES': 64.4844, 'VND': 25561.8359, 'VUV': 123.6195, 'WST': 2.8163, 'XAF': 631.595, 'XCD': 2.7, 'XDR': 0.7655, 'XOF': 631.595, 'XPF': 114.9001, 'YER': 247.6722, 'ZAR': 18.5891, 'ZMW': 28.5016, 'ZWL': 26.5615}

In [28]:
def convert_to_usd(row):
    price = row["Average Cost for two"]
    currency = row["Currency"]

In [33]:
if currency in exchange_rates:  # Check if currency exists in exchange rates
        return float(price)/exchange_rates[currency]  # Convert to USD
    
    return float(price)  

# Apply conversion
data["Price in USD"] = data.apply(convert_to_usd, axis=1)

# Show updated dataset
data[["Average Cost for two", "Currency", "Price in USD"]].head()

IndentationError: unindent does not match any outer indentation level (<string>, line 4)

In [ ]:
import pandas as pd
import requests

# Load the dataset
file_path = "../artifacts/lat_log_cuision.csv"
df = pd.read_csv(file_path)

# Function to convert currency to USD using real-time exchange rates
def convert_to_usd(price, currency):
    try:
        price = float(price)  # Ensure price is a float
        if currency == "USD":
            return price  # Already in USD, no conversion needed
        
        # Fetch real-time exchange rate
        response = requests.get(f"https://v6.exchangerate-api.com/v6/ef480af61c330493a658eebe/latest/USD{currency}")
        data = response.json()
        
        # Get conversion rate
        exchange_rate = data["rates"].get("USD", None)
        if exchange_rate is not None:
            return price / exchange_rate  # Convert to USD
        else:
            return None  # Handle cases where conversion is not possible
    except:
        return None  # Handle errors (e.g., missing values or invalid currency codes)

# Apply the conversion function
df["Price in USD"] = df.apply(lambda row: convert_to_usd(row["Average Cost for two"], row["Currency"]), axis=1)

# Check the updated data
print(df[["Average Cost for two", "Currency", "Price in USD"]].head())

In [1]:
import pandas as pd
import requests

In [2]:
# Load the dataset
file_path = "../artifacts/lat_log_cuision.csv"
df = pd.read_csv(file_path)

In [3]:
# Fetch exchange rates **only once** (USD as base currency)
api_url = "https://v6.exchangerate-api.com/v6/ef480af61c330493a658eebe/latest/USD"
response = requests.get(api_url)
exchange_data = response.json()
exchange_rates = exchange_data["rates"]  # Dictionary of exchange rates

KeyError: 'rates'

In [4]:
import requests

api_url = "https://v6.exchangerate-api.com/v6/ef480af61c330493a658eebe/latest/USD"
response = requests.get(api_url)

# Print full API response
print(response.json())  # Check what the API is actually returning

exchange_data = response.json()

{'result': 'success', 'documentation': 'https://www.exchangerate-api.com/docs', 'terms_of_use': 'https://www.exchangerate-api.com/terms', 'time_last_update_unix': 1740873601, 'time_last_update_utc': 'Sun, 02 Mar 2025 00:00:01 +0000', 'time_next_update_unix': 1740960001, 'time_next_update_utc': 'Mon, 03 Mar 2025 00:00:01 +0000', 'base_code': 'USD', 'conversion_rates': {'USD': 1, 'AED': 3.6725, 'AFN': 73.5799, 'ALL': 94.4753, 'AMD': 394.2724, 'ANG': 1.79, 'AOA': 918.0637, 'ARS': 1064.38, 'AUD': 1.609, 'AWG': 1.79, 'AZN': 1.7014, 'BAM': 1.8832, 'BBD': 2.0, 'BDT': 121.5395, 'BGN': 1.883, 'BHD': 0.376, 'BIF': 2966.5242, 'BMD': 1.0, 'BND': 1.3494, 'BOB': 6.9312, 'BRL': 5.836, 'BSD': 1.0, 'BTN': 87.4516, 'BWP': 13.8658, 'BYN': 3.2625, 'BZD': 2.0, 'CAD': 1.4443, 'CDF': 2853.1482, 'CHF': 0.9023, 'CLP': 951.3845, 'CNY': 7.2899, 'COP': 4126.9965, 'CRC': 506.55, 'CUP': 24.0, 'CVE': 106.1698, 'CZK': 24.0864, 'DJF': 177.721, 'DKK': 7.1816, 'DOP': 62.4189, 'DZD': 134.7789, 'EGP': 50.6538, 'ERN': 15.0, 'ETB': 126.9092, 'EUR': 0.9629, 'FJD': 2.2976, 'FKP': 0.794, 'FOK': 7.1816, 'GBP': 0.794, 'GEL': 2.793, 'GGP': 0.794, 'GHS': 15.5667, 'GIP': 0.794, 'GMD': 72.614, 'GNF': 8648.5902, 'GTQ': 7.7229, 'GYD': 209.5493, 'HKD': 7.7783, 'HNL': 25.6122, 'HRK': 7.2547, 'HTG': 131.052, 'HUF': 386.0847, 'IDR': 16571.5137, 'ILS': 3.5944, 'IMP': 0.794, 'INR': 87.4519, 'IQD': 1312.3209, 'IRR': 42000.3583, 'ISK': 139.8818, 'JEP': 0.794, 'JMD': 157.8702, 'JOD': 0.709, 'JPY': 150.5095, 'KES': 129.1522, 'KGS': 87.4089, 'KHR': 4014.9987, 'KID': 1.609, 'KMF': 473.6963, 'KRW': 1458.7273, 'KWD': 0.3088, 'KYD': 0.8333, 'KZT': 498.7853, 'LAK': 21728.1308, 'LBP': 89500.0, 'LKR': 294.9457, 'LRD': 199.4794, 'LSL': 18.5886, 'LYD': 4.8894, 'MAD': 9.9492, 'MDL': 18.6843, 'MGA': 4709.6035, 'MKD': 59.1335, 'MMK': 2102.568, 'MNT': 3479.5268, 'MOP': 8.0116, 'MRU': 39.8746, 'MUR': 46.5983, 'MVR': 15.4756, 'MWK': 1747.3379, 'MXN': 20.5052, 'MYR': 4.459, 'MZN': 63.9335, 'NAD': 18.5886, 'NGN': 1499.627, 'NIO': 36.8499, 'NOK': 11.2591, 'NPR': 139.9226, 'NZD': 1.7876, 'OMR': 0.3845, 'PAB': 1.0, 'PEN': 3.6864, 'PGK': 4.0378, 'PHP': 57.9821, 'PKR': 279.9691, 'PLN': 4.0079, 'PYG': 7925.9691, 'QAR': 3.64, 'RON': 4.7816, 'RSD': 112.4917, 'RUB': 88.2992, 'RWF': 1429.4159, 'SAR': 3.75, 'SBD': 8.662, 'SCR': 14.4122, 'SDG': 574.8872, 'SEK': 10.7529, 'SGD': 1.3494, 'SHP': 0.794, 'SLE': 22.8914, 'SLL': 22891.3697, 'SOS': 572.3556, 'SRD': 35.6103, 'SSP': 4410.4338, 'STN': 23.5901, 'SYP': 13007.6628, 'SZL': 18.5886, 'THB': 34.184, 'TJS': 10.9163, 'TMT': 3.5005, 'TND': 3.1691, 'TOP': 2.3907, 'TRY': 36.5357, 'TTD': 6.7648, 'TVD': 1.609, 'TWD': 32.8922, 'TZS': 2597.4889, 'UAH': 41.4213, 'UGX': 3677.6349, 'UYU': 42.8375, 'UZS': 12889.4005, 'VES': 64.4844, 'VND': 25561.8359, 'VUV': 123.6195, 'WST': 2.8163, 'XAF': 631.595, 'XCD': 2.7, 'XDR': 0.7655, 'XOF': 631.595, 'XPF': 114.9001, 'YER': 247.6722, 'ZAR': 18.5891, 'ZMW': 28.5016, 'ZWL': 26.5615}}

In [6]:
import requests

api_url = "https://v6.exchangerate-api.com/v6/ef480af61c330493a658eebe/latest/USD"
response = requests.get(api_url)

# Ensure the response is valid
if response.status_code == 200:
    exchange_data = response.json()
    if "rates" in exchange_data:
        exchange_rates = exchange_data["rates"]
        print("Exchange rates successfully retrieved!")
    else:
        print("Error: 'rates' key not found in API response.")
        print(exchange_data)  # Print full response for debugging
        exchange_rates = {}  # Set to empty dictionary
else:
    print(f"Error: API request failed with status code {response.status_code}")
    print(response.text)  # Print error message
    exchange_rates = {}  # Set to empty dictionary

Error: 'rates' key not found in API response.
{'result': 'success', 'documentation': 'https://www.exchangerate-api.com/docs', 'terms_of_use': 'https://www.exchangerate-api.com/terms', 'time_last_update_unix': 1740873601, 'time_last_update_utc': 'Sun, 02 Mar 2025 00:00:01 +0000', 'time_next_update_unix': 1740960001, 'time_next_update_utc': 'Mon, 03 Mar 2025 00:00:01 +0000', 'base_code': 'USD', 'conversion_rates': {'USD': 1, 'AED': 3.6725, 'AFN': 73.5799, 'ALL': 94.4753, 'AMD': 394.2724, 'ANG': 1.79, 'AOA': 918.0637, 'ARS': 1064.38, 'AUD': 1.609, 'AWG': 1.79, 'AZN': 1.7014, 'BAM': 1.8832, 'BBD': 2.0, 'BDT': 121.5395, 'BGN': 1.883, 'BHD': 0.376, 'BIF': 2966.5242, 'BMD': 1.0, 'BND': 1.3494, 'BOB': 6.9312, 'BRL': 5.836, 'BSD': 1.0, 'BTN': 87.4516, 'BWP': 13.8658, 'BYN': 3.2625, 'BZD': 2.0, 'CAD': 1.4443, 'CDF': 2853.1482, 'CHF': 0.9023, 'CLP': 951.3845, 'CNY': 7.2899, 'COP': 4126.9965, 'CRC': 506.55, 'CUP': 24.0, 'CVE': 106.1698, 'CZK': 24.0864, 'DJF': 177.721, 'DKK': 7.1816, 'DOP': 62.4189, 'DZD': 134.7789, 'EGP': 50.6538, 'ERN': 15.0, 'ETB': 126.9092, 'EUR': 0.9629, 'FJD': 2.2976, 'FKP': 0.794, 'FOK': 7.1816, 'GBP': 0.794, 'GEL': 2.793, 'GGP': 0.794, 'GHS': 15.5667, 'GIP': 0.794, 'GMD': 72.614, 'GNF': 8648.5902, 'GTQ': 7.7229, 'GYD': 209.5493, 'HKD': 7.7783, 'HNL': 25.6122, 'HRK': 7.2547, 'HTG': 131.052, 'HUF': 386.0847, 'IDR': 16571.5137, 'ILS': 3.5944, 'IMP': 0.794, 'INR': 87.4519, 'IQD': 1312.3209, 'IRR': 42000.3583, 'ISK': 139.8818, 'JEP': 0.794, 'JMD': 157.8702, 'JOD': 0.709, 'JPY': 150.5095, 'KES': 129.1522, 'KGS': 87.4089, 'KHR': 4014.9987, 'KID': 1.609, 'KMF': 473.6963, 'KRW': 1458.7273, 'KWD': 0.3088, 'KYD': 0.8333, 'KZT': 498.7853, 'LAK': 21728.1308, 'LBP': 89500.0, 'LKR': 294.9457, 'LRD': 199.4794, 'LSL': 18.5886, 'LYD': 4.8894, 'MAD': 9.9492, 'MDL': 18.6843, 'MGA': 4709.6035, 'MKD': 59.1335, 'MMK': 2102.568, 'MNT': 3479.5268, 'MOP': 8.0116, 'MRU': 39.8746, 'MUR': 46.5983, 'MVR': 15.4756, 'MWK': 1747.3379, 'MXN': 20.5052, 'MYR': 4.459, 'MZN': 63.9335, 'NAD': 18.5886, 'NGN': 1499.627, 'NIO': 36.8499, 'NOK': 11.2591, 'NPR': 139.9226, 'NZD': 1.7876, 'OMR': 0.3845, 'PAB': 1.0, 'PEN': 3.6864, 'PGK': 4.0378, 'PHP': 57.9821, 'PKR': 279.9691, 'PLN': 4.0079, 'PYG': 7925.9691, 'QAR': 3.64, 'RON': 4.7816, 'RSD': 112.4917, 'RUB': 88.2992, 'RWF': 1429.4159, 'SAR': 3.75, 'SBD': 8.662, 'SCR': 14.4122, 'SDG': 574.8872, 'SEK': 10.7529, 'SGD': 1.3494, 'SHP': 0.794, 'SLE': 22.8914, 'SLL': 22891.3697, 'SOS': 572.3556, 'SRD': 35.6103, 'SSP': 4410.4338, 'STN': 23.5901, 'SYP': 13007.6628, 'SZL': 18.5886, 'THB': 34.184, 'TJS': 10.9163, 'TMT': 3.5005, 'TND': 3.1691, 'TOP': 2.3907, 'TRY': 36.5357, 'TTD': 6.7648, 'TVD': 1.609, 'TWD': 32.8922, 'TZS': 2597.4889, 'UAH': 41.4213, 'UGX': 3677.6349, 'UYU': 42.8375, 'UZS': 12889.4005, 'VES': 64.4844, 'VND': 25561.8359, 'VUV': 123.6195, 'WST': 2.8163, 'XAF': 631.595, 'XCD': 2.7, 'XDR': 0.7655, 'XOF': 631.595, 'XPF': 114.9001, 'YER': 247.6722, 'ZAR': 18.5891, 'ZMW': 28.5016, 'ZWL': 26.5615}}

In [7]:
import requests

# API URL for exchange rates
api_url = "https://v6.exchangerate-api.com/v6/ef480af61c330493a658eebe/latest/USD"
response = requests.get(api_url)

# Ensure the response is valid
if response.status_code == 200:
    exchange_data = response.json()
    if "conversion_rates" in exchange_data:  # Correct key
        exchange_rates = exchange_data["conversion_rates"]  # Extract exchange rates
        print("✅ Exchange rates successfully retrieved!")
    else:
        print("❌ Error: 'conversion_rates' key not found in API response.")
        print(exchange_data)  # Print full response for debugging
        exchange_rates = {}  # Set to empty dictionary
else:
    print(f"❌ Error: API request failed with status code {response.status_code}")
    print(response.text)  # Print error message
    exchange_rates = {}  # Set to empty dictionary

✅ Exchange rates successfully retrieved!

In [9]:
import pandas as pd

# Load your dataset
file_path = "../artifacts/lat_log_cuision.csv"  # Update path if needed
df = pd.read_csv(file_path)

# Full exchange rate dictionary
exchange_rates = {
    'USD': 1, 'AED': 3.6725, 'AFN': 73.5799, 'ALL': 94.4753, 'AMD': 394.2724, 'ANG': 1.79, 'AOA': 918.0637, 
    'ARS': 1064.38, 'AUD': 1.609, 'AWG': 1.79, 'AZN': 1.7014, 'BAM': 1.8832, 'BBD': 2.0, 'BDT': 121.5395, 
    'BGN': 1.883, 'BHD': 0.376, 'BIF': 2966.5242, 'BMD': 1.0, 'BND': 1.3494, 'BOB': 6.9312, 'BRL': 5.836, 
    'BSD': 1.0, 'BTN': 87.4516, 'BWP': 13.8658, 'BYN': 3.2625, 'BZD': 2.0, 'CAD': 1.4443, 'CDF': 2853.1482, 
    'CHF': 0.9023, 'CLP': 951.3845, 'CNY': 7.2899, 'COP': 4126.9965, 'CRC': 506.55, 'CUP': 24.0, 'CVE': 106.1698, 
    'CZK': 24.0864, 'DJF': 177.721, 'DKK': 7.1816, 'DOP': 62.4189, 'DZD': 134.7789, 'EGP': 50.6538, 'ERN': 15.0, 
    'ETB': 126.9092, 'EUR': 0.9629, 'FJD': 2.2976, 'FKP': 0.794, 'FOK': 7.1816, 'GBP': 0.794, 'GEL': 2.793, 
    'GGP': 0.794, 'GHS': 15.5667, 'GIP': 0.794, 'GMD': 72.614, 'GNF': 8648.5902, 'GTQ': 7.7229, 'GYD': 209.5493, 
    'HKD': 7.7783, 'HNL': 25.6122, 'HRK': 7.2547, 'HTG': 131.052, 'HUF': 386.0847, 'IDR': 16571.5137, 'ILS': 3.5944, 
    'IMP': 0.794, 'INR': 87.4519, 'IQD': 1312.3209, 'IRR': 42000.3583, 'ISK': 139.8818, 'JEP': 0.794, 'JMD': 157.8702, 
    'JOD': 0.709, 'JPY': 150.5095, 'KES': 129.1522, 'KGS': 87.4089, 'KHR': 4014.9987, 'KID': 1.609, 'KMF': 473.6963, 
    'KRW': 1458.7273, 'KWD': 0.3088, 'KYD': 0.8333, 'KZT': 498.7853, 'LAK': 21728.1308, 'LBP': 89500.0, 'LKR': 294.9457, 
    'LRD': 199.4794, 'LSL': 18.5886, 'LYD': 4.8894, 'MAD': 9.9492, 'MDL': 18.6843, 'MGA': 4709.6035, 'MKD': 59.1335, 
    'MMK': 2102.568, 'MNT': 3479.5268, 'MOP': 8.0116, 'MRU': 39.8746, 'MUR': 46.5983, 'MVR': 15.4756, 'MWK': 1747.3379, 
    'MXN': 20.5052, 'MYR': 4.459, 'MZN': 63.9335, 'NAD': 18.5886, 'NGN': 1499.627, 'NIO': 36.8499, 'NOK': 11.2591, 
    'NPR': 139.9226, 'NZD': 1.7876, 'OMR': 0.3845, 'PAB': 1.0, 'PEN': 3.6864, 'PGK': 4.0378, 'PHP': 57.9821, 
    'PKR': 279.9691, 'PLN': 4.0079, 'PYG': 7925.9691, 'QAR': 3.64, 'RON': 4.7816, 'RSD': 112.4917, 'RUB': 88.2992, 
    'RWF': 1429.4159, 'SAR': 3.75, 'SBD': 8.662, 'SCR': 14.4122, 'SDG': 574.8872, 'SEK': 10.7529, 'SGD': 1.3494, 
    'SHP': 0.794, 'SLE': 22.8914, 'SLL': 22891.3697, 'SOS': 572.3556, 'SRD': 35.6103, 'SSP': 4410.4338, 'STN': 23.5901, 
    'SYP': 13007.6628, 'SZL': 18.5886, 'THB': 34.184, 'TJS': 10.9163, 'TMT': 3.5005, 'TND': 3.1691, 'TOP': 2.3907, 
    'TRY': 36.5357, 'TTD': 6.7648, 'TVD': 1.609, 'TWD': 32.8922, 'TZS': 2597.4889, 'UAH': 41.4213, 'UGX': 3677.6349, 
    'UYU': 42.8375, 'UZS': 12889.4005, 'VES': 64.4844, 'VND': 25561.8359, 'VUV': 123.6195, 'WST': 2.8163, 'XAF': 631.595, 
    'XCD': 2.7, 'XDR': 0.7655, 'XOF': 631.595, 'XPF': 114.9001, 'YER': 247.6722, 'ZAR': 18.5891, 'ZMW': 28.5016, 
    'ZWL': 26.5615
}

# Function to convert prices to USD
def convert_to_usd(price, currency):
    if currency == "USD":
        return price  # Already in USD, no change
    elif currency in exchange_rates:
        return price / exchange_rates[currency]  # Convert to USD
    else:
        return price  # Keep original price if currency is missing

# Apply conversion
df["Price_in_USD"] = df.apply(lambda row: convert_to_usd(row["Average Cost for two"], row["Currency"]), axis=1)

# Save the processed data
df.to_csv("../artifacts/lat_log_cuision.csv", index=False)

# Show some results
df[["Average Cost for two", "Currency", "Price_in_USD"]].head()

   Average Cost for two          Currency  Price_in_USD
0                  1100  Botswana Pula(P)          1100
1                  1200  Botswana Pula(P)          1200
2                  4000  Botswana Pula(P)          4000
3                  1500  Botswana Pula(P)          1500
4                  1500  Botswana Pula(P)          1500

In [10]:
import pandas as pd

# Load the dataset
file_path = "../artifacts/lat_log_cuision.csv"  # Update if needed
df = pd.read_csv(file_path)

# Dictionary of exchange rates (from your API response)
exchange_rates = {
    'USD': 1, 'AED': 3.6725, 'AFN': 73.5799, 'ALL': 94.4753, 'AMD': 394.2724, 'ANG': 1.79,
    'AOA': 918.0637, 'ARS': 1064.38, 'AUD': 1.609, 'AWG': 1.79, 'AZN': 1.7014, 'BAM': 1.8832,
    'BBD': 2.0, 'BDT': 121.5395, 'BGN': 1.883, 'BHD': 0.376, 'BIF': 2966.5242, 'BMD': 1.0,
    'BND': 1.3494, 'BOB': 6.9312, 'BRL': 5.836, 'BSD': 1.0, 'BTN': 87.4516, 'BWP': 13.8658,
    'BYN': 3.2625, 'BZD': 2.0, 'CAD': 1.4443, 'CDF': 2853.1482, 'CHF': 0.9023, 'CLP': 951.3845,
    'CNY': 7.2899, 'COP': 4126.9965, 'CRC': 506.55, 'CUP': 24.0, 'CVE': 106.1698, 'CZK': 24.0864,
    'DKK': 7.1816, 'DOP': 62.4189, 'DZD': 134.7789, 'EGP': 50.6538, 'ETB': 126.9092, 'EUR': 0.9629,
    'GBP': 0.794, 'GHS': 15.5667, 'HKD': 7.7783, 'HNL': 25.6122, 'HRK': 7.2547, 'HUF': 386.0847,
    'IDR': 16571.5137, 'ILS': 3.5944, 'INR': 87.4519, 'IQD': 1312.3209, 'IRR': 42000.3583,
    'ISK': 139.8818, 'JMD': 157.8702, 'JOD': 0.709, 'JPY': 150.5095, 'KES': 129.1522, 'KGS': 87.4089,
    'KHR': 4014.9987, 'KRW': 1458.7273, 'KWD': 0.3088, 'KZT': 498.7853, 'LAK': 21728.1308,
    'LBP': 89500.0, 'LKR': 294.9457, 'MAD': 9.9492, 'MDL': 18.6843, 'MKD': 59.1335, 'MMK': 2102.568,
    'MNT': 3479.5268, 'MOP': 8.0116, 'MUR': 46.5983, 'MVR': 15.4756, 'MWK': 1747.3379, 'MXN': 20.5052,
    'MYR': 4.459, 'NAD': 18.5886, 'NGN': 1499.627, 'NIO': 36.8499, 'NOK': 11.2591, 'NPR': 139.9226,
    'NZD': 1.7876, 'OMR': 0.3845, 'PAB': 1.0, 'PEN': 3.6864, 'PHP': 57.9821, 'PKR': 279.9691,
    'PLN': 4.0079, 'QAR': 3.64, 'RON': 4.7816, 'RSD': 112.4917, 'RUB': 88.2992, 'SAR': 3.75,
    'SEK': 10.7529, 'SGD': 1.3494, 'THB': 34.184, 'TND': 3.1691, 'TRY': 36.5357, 'TTD': 6.7648,
    'TWD': 32.8922, 'TZS': 2597.4889, 'UAH': 41.4213, 'UGX': 3677.6349, 'UYU': 42.8375, 'UZS': 12889.4005,
    'VES': 64.4844, 'VND': 25561.8359, 'XAF': 631.595, 'XCD': 2.7, 'XOF': 631.595, 'ZAR': 18.5891
}

# Function to convert price to USD
def convert_to_usd(row):
    price = row["Average Cost for two"]
    currency = row["Currency"]
    
    if currency == "USD":
        return price  # No conversion needed
    elif currency in exchange_rates:
        return price / exchange_rates[currency]  # Convert to USD
    else:
        return None  # Mark for removal

# Apply conversion function
df["Price_in_USD"] = df.apply(convert_to_usd, axis=1)

# Remove rows where conversion was not possible
df.dropna(subset=["Price_in_USD"], inplace=True)

# Save the cleaned dataset
df.to_csv("../artifacts/lat_log_cuision.csv", index=False)

# Display first few rows
df.head()

Empty DataFrame
Columns: [Restaurant ID, Restaurant Name, Country Code, City, Address, Locality, Locality Verbose, Longitude, Latitude, Cuisines, Average Cost for two, Currency, Has Table booking, Has Online delivery, Is delivering now, Switch to order menu, Price range, Aggregate rating, Rating color, Rating text, Votes, Price_in_USD]
Index: []

[0 rows x 22 columns]

In [1]:
import pandas as pd

# Load your dataset
file_path = "../artifacts/lat_log_cuision.csv"  # Update path if needed
df = pd.read_csv(file_path)

# Full exchange rate dictionary
exchange_rates = {
    'USD': 1, 'AED': 3.6725, 'AFN': 73.5799, 'ALL': 94.4753, 'AMD': 394.2724, 'ANG': 1.79, 'AOA': 918.0637, 
    'ARS': 1064.38, 'AUD': 1.609, 'AWG': 1.79, 'AZN': 1.7014, 'BAM': 1.8832, 'BBD': 2.0, 'BDT': 121.5395, 
    'BGN': 1.883, 'BHD': 0.376, 'BIF': 2966.5242, 'BMD': 1.0, 'BND': 1.3494, 'BOB': 6.9312, 'BRL': 5.836, 
    'BSD': 1.0, 'BTN': 87.4516, 'BWP': 13.8658, 'BYN': 3.2625, 'BZD': 2.0, 'CAD': 1.4443, 'CDF': 2853.1482, 
    'CHF': 0.9023, 'CLP': 951.3845, 'CNY': 7.2899, 'COP': 4126.9965, 'CRC': 506.55, 'CUP': 24.0, 'CVE': 106.1698, 
    'CZK': 24.0864, 'DJF': 177.721, 'DKK': 7.1816, 'DOP': 62.4189, 'DZD': 134.7789, 'EGP': 50.6538, 'ERN': 15.0, 
    'ETB': 126.9092, 'EUR': 0.9629, 'FJD': 2.2976, 'FKP': 0.794, 'FOK': 7.1816, 'GBP': 0.794, 'GEL': 2.793, 
    'GGP': 0.794, 'GHS': 15.5667, 'GIP': 0.794, 'GMD': 72.614, 'GNF': 8648.5902, 'GTQ': 7.7229, 'GYD': 209.5493, 
    'HKD': 7.7783, 'HNL': 25.6122, 'HRK': 7.2547, 'HTG': 131.052, 'HUF': 386.0847, 'IDR': 16571.5137, 'ILS': 3.5944, 
    'IMP': 0.794, 'INR': 87.4519, 'IQD': 1312.3209, 'IRR': 42000.3583, 'ISK': 139.8818, 'JEP': 0.794, 'JMD': 157.8702, 
    'JOD': 0.709, 'JPY': 150.5095, 'KES': 129.1522, 'KGS': 87.4089, 'KHR': 4014.9987, 'KID': 1.609, 'KMF': 473.6963, 
    'KRW': 1458.7273, 'KWD': 0.3088, 'KYD': 0.8333, 'KZT': 498.7853, 'LAK': 21728.1308, 'LBP': 89500.0, 'LKR': 294.9457, 
    'LRD': 199.4794, 'LSL': 18.5886, 'LYD': 4.8894, 'MAD': 9.9492, 'MDL': 18.6843, 'MGA': 4709.6035, 'MKD': 59.1335, 
    'MMK': 2102.568, 'MNT': 3479.5268, 'MOP': 8.0116, 'MRU': 39.8746, 'MUR': 46.5983, 'MVR': 15.4756, 'MWK': 1747.3379, 
    'MXN': 20.5052, 'MYR': 4.459, 'MZN': 63.9335, 'NAD': 18.5886, 'NGN': 1499.627, 'NIO': 36.8499, 'NOK': 11.2591, 
    'NPR': 139.9226, 'NZD': 1.7876, 'OMR': 0.3845, 'PAB': 1.0, 'PEN': 3.6864, 'PGK': 4.0378, 'PHP': 57.9821, 
    'PKR': 279.9691, 'PLN': 4.0079, 'PYG': 7925.9691, 'QAR': 3.64, 'RON': 4.7816, 'RSD': 112.4917, 'RUB': 88.2992, 
    'RWF': 1429.4159, 'SAR': 3.75, 'SBD': 8.662, 'SCR': 14.4122, 'SDG': 574.8872, 'SEK': 10.7529, 'SGD': 1.3494, 
    'SHP': 0.794, 'SLE': 22.8914, 'SLL': 22891.3697, 'SOS': 572.3556, 'SRD': 35.6103, 'SSP': 4410.4338, 'STN': 23.5901, 
    'SYP': 13007.6628, 'SZL': 18.5886, 'THB': 34.184, 'TJS': 10.9163, 'TMT': 3.5005, 'TND': 3.1691, 'TOP': 2.3907, 
    'TRY': 36.5357, 'TTD': 6.7648, 'TVD': 1.609, 'TWD': 32.8922, 'TZS': 2597.4889, 'UAH': 41.4213, 'UGX': 3677.6349, 
    'UYU': 42.8375, 'UZS': 12889.4005, 'VES': 64.4844, 'VND': 25561.8359, 'VUV': 123.6195, 'WST': 2.8163, 'XAF': 631.595, 
    'XCD': 2.7, 'XDR': 0.7655, 'XOF': 631.595, 'XPF': 114.9001, 'YER': 247.6722, 'ZAR': 18.5891, 'ZMW': 28.5016, 
    'ZWL': 26.5615
}

# Function to convert prices to USD
def convert_to_usd(price, currency):
    if currency == "USD":
        return price  # Already in USD, no change
    elif currency in exchange_rates:
        return price / exchange_rates[currency]  # Convert to USD
    else:
        return price  # Keep original price if currency is missing

# Apply conversion
df["Price_in_USD"] = df.apply(lambda row: convert_to_usd(row["Average Cost for two"], row["Currency"]), axis=1)

# Save the processed data
df.to_csv("../artifacts/lat_log_cuision.csv", index=False)

# Show some results
df[["Average Cost for two", "Currency", "Price_in_USD"]].head()

Empty DataFrame
Columns: [Average Cost for two, Currency, Price_in_USD]
Index: []

In [2]:
import pandas as pd
import requests

In [4]:
# Load the dataset
file_path = "../artifacts/lat_log_cuision.csv"
df = pd.read_csv(file_path)

In [5]:
import pandas as pd

# Load your dataset
file_path = "../artifacts/lat_log_cuision.csv"  # Update path if needed
df = pd.read_csv(file_path)

# Full exchange rate dictionary
exchange_rates = {
    'USD': 1, 'AED': 3.6725, 'AFN': 73.5799, 'ALL': 94.4753, 'AMD': 394.2724, 'ANG': 1.79, 'AOA': 918.0637, 
    'ARS': 1064.38, 'AUD': 1.609, 'AWG': 1.79, 'AZN': 1.7014, 'BAM': 1.8832, 'BBD': 2.0, 'BDT': 121.5395, 
    'BGN': 1.883, 'BHD': 0.376, 'BIF': 2966.5242, 'BMD': 1.0, 'BND': 1.3494, 'BOB': 6.9312, 'BRL': 5.836, 
    'BSD': 1.0, 'BTN': 87.4516, 'BWP': 13.8658, 'BYN': 3.2625, 'BZD': 2.0, 'CAD': 1.4443, 'CDF': 2853.1482, 
    'CHF': 0.9023, 'CLP': 951.3845, 'CNY': 7.2899, 'COP': 4126.9965, 'CRC': 506.55, 'CUP': 24.0, 'CVE': 106.1698, 
    'CZK': 24.0864, 'DJF': 177.721, 'DKK': 7.1816, 'DOP': 62.4189, 'DZD': 134.7789, 'EGP': 50.6538, 'ERN': 15.0, 
    'ETB': 126.9092, 'EUR': 0.9629, 'FJD': 2.2976, 'FKP': 0.794, 'FOK': 7.1816, 'GBP': 0.794, 'GEL': 2.793, 
    'GGP': 0.794, 'GHS': 15.5667, 'GIP': 0.794, 'GMD': 72.614, 'GNF': 8648.5902, 'GTQ': 7.7229, 'GYD': 209.5493, 
    'HKD': 7.7783, 'HNL': 25.6122, 'HRK': 7.2547, 'HTG': 131.052, 'HUF': 386.0847, 'IDR': 16571.5137, 'ILS': 3.5944, 
    'IMP': 0.794, 'INR': 87.4519, 'IQD': 1312.3209, 'IRR': 42000.3583, 'ISK': 139.8818, 'JEP': 0.794, 'JMD': 157.8702, 
    'JOD': 0.709, 'JPY': 150.5095, 'KES': 129.1522, 'KGS': 87.4089, 'KHR': 4014.9987, 'KID': 1.609, 'KMF': 473.6963, 
    'KRW': 1458.7273, 'KWD': 0.3088, 'KYD': 0.8333, 'KZT': 498.7853, 'LAK': 21728.1308, 'LBP': 89500.0, 'LKR': 294.9457, 
    'LRD': 199.4794, 'LSL': 18.5886, 'LYD': 4.8894, 'MAD': 9.9492, 'MDL': 18.6843, 'MGA': 4709.6035, 'MKD': 59.1335, 
    'MMK': 2102.568, 'MNT': 3479.5268, 'MOP': 8.0116, 'MRU': 39.8746, 'MUR': 46.5983, 'MVR': 15.4756, 'MWK': 1747.3379, 
    'MXN': 20.5052, 'MYR': 4.459, 'MZN': 63.9335, 'NAD': 18.5886, 'NGN': 1499.627, 'NIO': 36.8499, 'NOK': 11.2591, 
    'NPR': 139.9226, 'NZD': 1.7876, 'OMR': 0.3845, 'PAB': 1.0, 'PEN': 3.6864, 'PGK': 4.0378, 'PHP': 57.9821, 
    'PKR': 279.9691, 'PLN': 4.0079, 'PYG': 7925.9691, 'QAR': 3.64, 'RON': 4.7816, 'RSD': 112.4917, 'RUB': 88.2992, 
    'RWF': 1429.4159, 'SAR': 3.75, 'SBD': 8.662, 'SCR': 14.4122, 'SDG': 574.8872, 'SEK': 10.7529, 'SGD': 1.3494, 
    'SHP': 0.794, 'SLE': 22.8914, 'SLL': 22891.3697, 'SOS': 572.3556, 'SRD': 35.6103, 'SSP': 4410.4338, 'STN': 23.5901, 
    'SYP': 13007.6628, 'SZL': 18.5886, 'THB': 34.184, 'TJS': 10.9163, 'TMT': 3.5005, 'TND': 3.1691, 'TOP': 2.3907, 
    'TRY': 36.5357, 'TTD': 6.7648, 'TVD': 1.609, 'TWD': 32.8922, 'TZS': 2597.4889, 'UAH': 41.4213, 'UGX': 3677.6349, 
    'UYU': 42.8375, 'UZS': 12889.4005, 'VES': 64.4844, 'VND': 25561.8359, 'VUV': 123.6195, 'WST': 2.8163, 'XAF': 631.595, 
    'XCD': 2.7, 'XDR': 0.7655, 'XOF': 631.595, 'XPF': 114.9001, 'YER': 247.6722, 'ZAR': 18.5891, 'ZMW': 28.5016, 
    'ZWL': 26.5615
}

# Function to convert prices to USD
def convert_to_usd(price, currency):
    if currency == "USD":
        return price  # Already in USD, no change
    elif currency in exchange_rates:
        return price / exchange_rates[currency]  # Convert to USD
    else:
        return price  # Keep original price if currency is missing

# Apply conversion
df["Price_in_USD"] = df.apply(lambda row: convert_to_usd(row["Average Cost for two"], row["Currency"]), axis=1)

# Save the processed data
df.to_csv("../artifacts/lat_log_cuision.csv", index=False)

# Show some results
df[["Average Cost for two", "Currency", "Price_in_USD"]].head()

   Average Cost for two          Currency  Price_in_USD
0                  1100  Botswana Pula(P)          1100
1                  1200  Botswana Pula(P)          1200
2                  4000  Botswana Pula(P)          4000
3                  1500  Botswana Pula(P)          1500
4                  1500  Botswana Pula(P)          1500

In [6]:
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Price_in_USD
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Yes,No,No,No,3,4.8,Dark Green,Excellent,314,1100
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Yes,No,No,No,3,4.5,Dark Green,Excellent,591,1200
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Yes,No,No,No,4,4.4,Green,Very Good,270,4000
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,No,No,No,No,4,4.9,Dark Green,Excellent,365,1500
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Yes,No,No,No,4,4.8,Dark Green,Excellent,229,1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,Naml۱ Gurme,208,��stanbul,"Kemanke�� Karamustafa Pa��a Mahallesi, R۱ht۱m ...",Karak�_y,"Karak�_y, ��stanbul",28.977392,41.022793,Turkish,...,No,No,No,No,3,4.1,Green,Very Good,788,80
9547,5908749,Ceviz A��ac۱,208,��stanbul,"Ko��uyolu Mahallesi, Muhittin ��st�_nda�� Cadd...",Ko��uyolu,"Ko��uyolu, ��stanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,No,No,No,No,3,4.2,Green,Very Good,1034,105
9548,5915807,Huqqa,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.034640,41.055817,"Italian, World Cuisine",...,No,No,No,No,4,3.7,Yellow,Good,661,170
9549,5916112,A���k Kahve,208,��stanbul,"Kuru�_e��me Mahallesi, Muallim Naci Caddesi, N...",Kuru�_e��me,"Kuru�_e��me, ��stanbul",29.036019,41.057979,Restaurant Cafe,...,No,No,No,No,4,4.0,Green,Very Good,901,120
9550,5927402,Walter's Coffee Roastery,208,��stanbul,"Cafea��a Mahallesi, Bademalt۱ Sokak, No 21/B, ...",Moda,"Moda, ��stanbul",29.026016,40.984776,Cafe,...,No,No,No,No,2,4.0,Green,Very Good,591,55

In [7]:
unique_values = df['Currency'].unique()

In [8]:
unique_values

array(['Botswana Pula(P)', 'Brazilian Real(R$)', 'Dollar($)',
       'Emirati Diram(AED)', 'Indian Rupees(Rs.)',
       'Indonesian Rupiah(IDR)', 'NewZealand($)', 'Pounds(��)',
       'Qatari Rial(QR)', 'Rand(R)', 'Sri Lankan Rupee(LKR)',
       'Turkish Lira(TL)'], dtype=object)

In [9]:
import pandas as pd

# Load your dataset (original file remains unchanged)
file_path = "../artifacts/lat_log_cuision.csv"
df = pd.read_csv(file_path)

# Correct currency labels
currency_mapping = {
    'Botswana Pula(P\')': 'BWP',
    'Brazilian Real(R$)': 'BRL',
    'Dollar($)': 'USD',
    'Emirati Diram(AED)': 'AED',
    'Indian Rupees(Rs.)': 'INR',
    'Indonesian Rupiah(IDR)': 'IDR',
    'NewZealand($)': 'NZD',
    'Pounds(��)': 'GBP',  # This may need fixing if encoding is an issue
    'Qatari Rial(QR)': 'QAR',
    'Rand(R)': 'ZAR',
    'Sri Lankan Rupee(LKR)': 'LKR',
    'Turkish Lira(TL)': 'TRY'
}

# Apply corrections
df["Currency"] = df["Currency"].map(currency_mapping).fillna(df["Currency"])

# Exchange rate dictionary
exchange_rates = {
    'USD': 1, 'AED': 3.6725, 'BWP': 13.8658, 'BRL': 5.836, 'GBP': 0.794,
    'INR': 87.4519, 'IDR': 16571.5137, 'NZD': 1.7876, 'QAR': 3.64, 'ZAR': 18.5891,
    'LKR': 294.9457, 'TRY': 36.5357
}

# Function to convert prices to USD
def convert_to_usd(price, currency):
    if currency in exchange_rates:
        return price / exchange_rates[currency]
    return price  # Keep original price if currency is missing

# Create a new column for converted prices
df["Price_in_USD"] = df.apply(lambda row: convert_to_usd(row["Average Cost for two"], row["Currency"]), axis=1)

# Save the processed data as a new file
cleaned_file_path = "../artifacts/cleaned_data.csv"
df.to_csv(cleaned_file_path, index=False)

# Show some results
print(df[["Average Cost for two", "Currency", "Price_in_USD"]].head())

   Average Cost for two          Currency  Price_in_USD
0                  1100  Botswana Pula(P)        1100.0
1                  1200  Botswana Pula(P)        1200.0
2                  4000  Botswana Pula(P)        4000.0
3                  1500  Botswana Pula(P)        1500.0
4                  1500  Botswana Pula(P)        1500.0

In [10]:
import pandas as pd

# Load dataset (original remains unchanged)
file_path = "../artifacts/lat_log_cuision.csv"
df = pd.read_csv(file_path)

# Correct currency labels
currency_mapping = {
    'Botswana Pula(P)': 'BWP',
    'Brazilian Real(R$)': 'BRL',
    'Dollar($)': 'USD',
    'Emirati Diram(AED)': 'AED',
    'Indian Rupees(Rs.)': 'INR',
    'Indonesian Rupiah(IDR)': 'IDR',
    'NewZealand($)': 'NZD',
    'Pounds(��)': 'GBP',  # Check encoding issue here
    'Qatari Rial(QR)': 'QAR',
    'Rand(R)': 'ZAR',
    'Sri Lankan Rupee(LKR)': 'LKR',
    'Turkish Lira(TL)': 'TRY'
}

# Apply currency mapping
df["Currency"] = df["Currency"].map(currency_mapping).fillna(df["Currency"])

# Exchange rate dictionary
exchange_rates = {
    'USD': 1, 'AED': 3.6725, 'BWP': 13.8658, 'BRL': 5.836, 'GBP': 0.794,
    'INR': 87.4519, 'IDR': 16571.5137, 'NZD': 1.7876, 'QAR': 3.64, 'ZAR': 18.5891,
    'LKR': 294.9457, 'TRY': 36.5357
}

# Function to convert prices to USD
def convert_to_usd(price, currency):
    if currency in exchange_rates:
        return round(price / exchange_rates[currency], 2)  # Convert and round to 2 decimals
    return price  # Keep original price if currency is missing

# Convert prices and store in a new column
df["Price_in_USD"] = df.apply(lambda row: convert_to_usd(row["Average Cost for two"], row["Currency"]), axis=1)

# Save the processed data as a new file
cleaned_file_path = "../artifacts/cleaned_data.csv"
df.to_csv(cleaned_file_path, index=False)

# Show updated results
print(df[["Average Cost for two", "Currency", "Price_in_USD"]].head())

   Average Cost for two Currency  Price_in_USD
0                  1100      BWP         79.33
1                  1200      BWP         86.54
2                  4000      BWP        288.48
3                  1500      BWP        108.18
4                  1500      BWP        108.18

In [13]:
import pandas as pd
import numpy as np

# Load the cleaned dataset from previous step
cleaned_file_path = "../artifacts/cleaned_data.csv"
df = pd.read_csv(cleaned_file_path)

# Step 1: Remove Outliers using IQR Method
Q1 = df["Price_in_USD"].quantile(0.25)  # 25th percentile
Q3 = df["Price_in_USD"].quantile(0.75)  # 75th percentile
IQR = Q3 - Q1  # Interquartile range

# Define lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers
df_cleaned = df[(df["Price_in_USD"] >= lower_bound) & (df["Price_in_USD"] <= upper_bound)]

# Save dataset without outliers
outliers_removed_path = "../artifacts/outliers_removed.csv"
df_no_outliers.to_csv(outliers_removed_path, index=False)

# Step 2: Normalize the Price Column (Min-Max Scaling)
min_price = df_cleaned["Price_in_USD"].min()
max_price = df_cleaned["Price_in_USD"].max()
df_cleaned["Normalized_Price"] = (df_cleaned["Price_in_USD"] - min_price) / (max_price - min_price)

# Step 3: Save the cleaned dataset separately
normalized_file_path = "../artifacts/normalized_cleaned_data.csv"
df_cleaned.to_csv(normalized_file_path, index=False)

# Show results
print(df_cleaned[["Price_in_USD", "Normalized_Price"]].head())

NameError: name 'df_no_outliers' is not defined

In [14]:
import pandas as pd

# Load the cleaned dataset (after currency conversion)
cleaned_file_path = "../artifacts/cleaned_data.csv"
df = pd.read_csv(cleaned_file_path)

### STEP 1: REMOVE OUTLIERS USING IQR ###
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)  # 25th percentile
    Q3 = df[column].quantile(0.75)  # 75th percentile
    IQR = Q3 - Q1  # Interquartile Range

    # Define outlier boundaries
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Filter data within the valid range
    filtered_df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return filtered_df

# Apply the function to remove outliers
df_no_outliers = remove_outliers(df, "Price_in_USD")

# Save the dataset without outliers
outliers_removed_path = "../artifacts/outliers_removed.csv"
df_no_outliers.to_csv(outliers_removed_path, index=False)

# Print summary
print("Original Dataset:", df.shape)
print("After Removing Outliers:", df_no_outliers.shape)

# Show a preview of the cleaned dataset
print(df_no_outliers[["Price_in_USD"]].head())

Original Dataset: (9551, 22)
After Removing Outliers: (8501, 22)
    Price_in_USD
22          9.42
23          5.14
24          7.71
25         10.28
26          8.57

In [15]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

ModuleNotFoundError: No module named 'sklearn'

In [16]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in d:\fyp\price sentiment\venv\lib\site-packages (from scikit-learn) (2.2.3)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp313-cp313-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
    --------------------------------------- 0.3/11.1 MB ? eta -:--:--
   ----- ---------------------------------- 1.6/11.1 MB 4.6 MB/s eta 0:00:03
   --------- ------------------------------ 2.6/11.1 MB 5.5 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/11.1 MB 5.1 MB/s eta 0:00:02
   ----------------- ---------------------- 4.7/11.1 MB 5.1 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.1 MB 5.0 MB/s eta 0:00:02
   ------------------------- -------------- 7.1/11.1 MB 5.4 MB/s eta 0:00:01
   ------------------------------- -------- 8.7/11.1 MB 5.6 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.1 MB 5.7 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.1 MB 5.5 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 5.3 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.2-cp313-cp313-win_amd64.whl (41.0 MB)
   ---------------------------------------- 0.0/41.0 MB ? eta -:--:--
   - -------------------------------------- 1.0/41.0 MB 4.8 MB/s eta 0:00:09
   -- ------------------------------------- 2.1/41.0 MB 5.1 MB/s eta 0:00:08
   -- ------------------------------------- 2.6/41.0 MB 4.4 MB/s eta 0:00:09
   --- ------------------------------------ 3.4/41.0 MB 4.1 MB/s eta 0:00:10
   --- ------------------------------------ 3.9/41.0 MB 3.9 MB/s eta 0:00:10
   ---- ----------------------------------- 4.5/41.0 MB 3.8 MB/s eta 0:00:10
   ---- ----------------------------------- 5.0/41.0 MB 3.5 MB/s eta 0:00:11
   ----- ---------------------------------- 5.2/41.0 MB 3.2 MB/s eta 0:00:12
   ----- ---------------------------------- 5.5/41.0 MB 3.0 MB/s eta 0:00:12
   ----- ---------------------------------- 6.0/41.0 MB 3.0 MB/s eta 0:00:12
   ------ --------------------------------- 6.6/41.0 MB 2.9 MB/s eta 0:00:12
   ------ --------------------------------- 6.6/41.0 MB 2.9 MB/s eta 0:00:12
   ------ --------------------------------- 6.8/41.0 MB 2.5 MB/s eta 0:00:14
   ------ --------------------------------- 6.8/41.0 MB 2.5 MB/s eta 0:00:14
   ------- -------------------------------- 7.3/41.0 MB 2.4 MB/s eta 0:00:15
   ------- -------------------------------- 7.9/41.0 MB 2.4 MB/s eta 0:00:14
   -------- ------------------------------- 8.4/41.0 MB 2.4 MB/s eta 0:00:14
   -------- ------------------------------- 8.9/41.0 MB 2.4 MB/s eta 0:00:14
   --------- ------------------------------ 9.7/41.0 MB 2.5 MB/s eta 0:00:13
   ---------- ----------------------------- 10.5/41.0 MB 2.5 MB/s eta 0:00:12
   ----------- ---------------------------- 11.3/41.0 MB 2.6 MB/s eta 0:00:12
   ----------- ---------------------------- 12.1/41.0 MB 2.7 MB/s eta 0:00:11
   ------------ --------------------------- 12.6/41.0 MB 2.7 MB/s eta 0:00:11
   ------------- -------------------------- 13.4/41.0 MB 2.7 MB/s eta 0:00:11
   -------------- ------------------------- 14.4/41.0 MB 2.8 MB/s eta 0:00:10
   -------------- ------------------------- 15.2/41.0 MB 2.8 MB/s eta 0:00:10
   --------------- ------------------------ 15.7/41.0 MB 2.8 MB/s eta 0:00:09
   --------------- ------------------------ 16.3/41.0 MB 2.8 MB/s eta 0:00:09
   ---------------- ----------------------- 17.0/41.0 MB 2.9 MB/s eta 0:00:09
   ----------------- ---------------------- 17.8/41.0 MB 2.9 MB/s eta 0:00:09
   ------------------ --------------------- 18.9/41.0 MB 3.0 MB/s eta 0:00:08
   ------------------- -------------------- 19.7/41.0 MB 3.0 MB/s eta 0:00:08
   ------------------- -------------------- 20.4/41.0 MB 3.0 MB/s eta 0:00:07
   -------------------- ------------------- 21.2/41.0 MB 3.0 MB/s eta 0:00:07
   --------------------- ------------------ 22.0/41.0 MB 3.1 MB/s eta 0:00:07
   --------------------- ------------------ 22.0/41.0 MB 3.1 MB/s eta 0:00:07
   ---------------------- ----------------- 22.5/41.0 MB 3.0 MB/s eta 0:00:07
   ---------------------- ----------------- 22.8/41.0 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 23.1/41.0 MB 2.9 MB/s eta 0:00:07
   ---------------------- ----------------- 23.3/41.0 MB 2.9 MB/s eta 0:00:07
   ----------------------- ---------------- 23.9/41.0 MB 2.8 MB/s eta 0:00:07
   ----------------------- ---------------- 24.4/41.0 MB 2.8 MB/s eta 0:00:06
   ------------------------ --------------- 25.2/41.0 MB 2.9 MB/s eta 0:00:06
   ------------------------- -------------- 25.7/41.0 MB 2.9 MB/s eta 0:00:06
   ------------------------- -------------- 26.2/41.0 MB 2.9 MB/s eta 0:00:06
   -------------------------- ------------- 27.0/41.0 MB 2.9 MB/s eta 0:00:05
   -------------------------- ------------- 27.5/41.0 MB 2.9 MB/s eta 0:00:05
   --------------------------- ------------ 28.3/41.0 MB 2.9 MB/s eta 0:00:05
   ---------------------------- ----------- 29.1/41.0 MB 2.9 MB/s eta 0:00:05
   ---------------------------- ----------- 29.6/41.0 MB 2.9 MB/s eta 0:00:04
   ----------------------------- ---------- 30.4/41.0 MB 2.9 MB/s eta 0:00:04
   ------------------------------ --------- 30.9/41.0 MB 2.9 MB/s eta 0:00:04
   ------------------------------ --------- 31.5/41.0 MB 2.9 MB/s eta 0:00:04
   ------------------------------ --------- 31.7/41.0 MB 2.9 MB/s eta 0:00:04
   ------------------------------- -------- 32.2/41.0 MB 2.9 MB/s eta 0:00:04
   ------------------------------- -------- 32.5/41.0 MB 2.9 MB/s eta 0:00:03
   -------------------------------- ------- 33.3/41.0 MB 2.9 MB/s eta 0:00:03
   --------------------------------- ------ 33.8/41.0 MB 2.9 MB/s eta 0:00:03
   --------------------------------- ------ 34.6/41.0 MB 2.9 MB/s eta 0:00:03
   ---------------------------------- ----- 35.4/41.0 MB 2.9 MB/s eta 0:00:02
   ----------------------------------- ---- 35.9/41.0 MB 2.9 MB/s eta 0:00:02
   ----------------------------------- ---- 36.4/41.0 MB 2.9 MB/s eta 0:00:02
   ------------------------------------ --- 37.2/41.0 MB 2.9 MB/s eta 0:00:02
   ------------------------------------- -- 38.0/41.0 MB 2.9 MB/s eta 0:00:02
   ------------------------------------- -- 38.8/41.0 MB 2.9 MB/s eta 0:00:01
   -------------------------------------- - 39.8/41.0 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  40.9/41.0 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 41.0/41.0 MB 3.0 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.2 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [18]:
# Load the dataset without outliers
outliers_removed_path = "../artifacts/outliers_removed.csv"
df_no_outliers = pd.read_csv(outliers_removed_path)

### STEP 2: NORMALIZE PRICE COLUMN ###
scaler = MinMaxScaler()

# Apply Min-Max Scaling (scaling values between 0 and 1)
df_no_outliers["Normalized_Price"] = scaler.fit_transform(df_no_outliers[["Price_in_USD"]])

# Save the normalized dataset separately
normalized_data_path = "../artifacts/normalized_data.csv"
df_no_outliers.to_csv(normalized_data_path, index=False)

# Print summary
print("After Normalization:")
print(df_no_outliers[["Price_in_USD", "Normalized_Price"]].head())

After Normalization:
   Price_in_USD  Normalized_Price
0          9.42          0.494229
1          5.14          0.269675
2          7.71          0.404512
3         10.28          0.539349
4          8.57          0.449633